<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>task-list</title>

<script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
<link href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link href="/css/default.css" rel="stylesheet">

<script>
	
</script>
</head>
<body>
	<div>
		<h1>Todo List</h1>
	</div>
	<div id="add-btn-div">
		<button type="button" class="btn add-btn" data-toggle="modal"
			data-target="#myModal">추가</button>
	</div>

	<div id="todo-list">
		<div class="todo-div" id="todo-div" th:each="task: ${taskList}">
			<div class="todo-header">
				<div
					class="custom-control form-control-lg custom-checkbox col-sm-7 todo-header-item">
					<input type="checkbox"
						class="custom-control-input todo-header-item"
						>
					<h3 style="float: left;">
						<label class="custom-control-label todo-header-item"><h5
								class="title" th:text="${task.title}"></h5></label>
					</h3>
					<!-- <img
								style="float: left; height: 1.5em; margin-left: .5em; margin-right: 10em;"
								src="/images/edit.png" th:onclick="'updateGet('+${task.id}+')'"> -->
				</div>
				<span class="todo-header-item col-sm-2 date"
					th:text="${#dates.format(task.regDate, 'yyyy-MM-dd')}"></span> <span
					class="todo-header-item col-sm-2 date"
					th:text="${#dates.format(task.endDate, 'yyyy-MM-dd')}"></span>
				<div th:switch="${task.priority.priorityId}">
					<span th:case="1" class="badge col-sm-2"
						style="width: auto; background-color: red;"
						th:text="${task.priority.name}"></span> <span th:case="2"
						class="badge col-sm-2"
						style="width: auto; background-color: yellow;"
						th:text="${task.priority.name}"></span> <span th:case="3"
						class="badge col-sm-2"
						style="width: auto; background-color: aquamarine;"
						th:text="${task.priority.name}"></span>
				</div>
				<!-- <img style="float: right; height: 1em;" src="/images/delete.png"
							th:onclick="'deleteTodo('+${task.id}+')'"> -->
			</div>
			<div class="todo-desc">
				<p th:text="${task.content}"></p>
			</div>
		</div>
	</div>
<!-- 	<div>
		<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" id="previous" href="#"
				onclick="prev()">Previous</a></li>
				  <li class="page-item"><a class="page-link" href="#"><span id="now-page"></span></a></li>
				  <li class="page-item" id="total-page"><a class="page-link" href="#"><span id="total-page"></span></a></li>
			<li class="page-item"><a class="page-link" id="next" href="#"
				onclick="next()">Next</a></li>
		</ul>
	</div> -->


	<!-- Modal -->
	<!--등록 모달창-->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">TODO 추가하기</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group">
						<label for="form-title" class="col-form-label">제목 : </label> <input
							type="text" class="form-control" id="form-title" maxlength="40">
					</div>
					<div class="form-group" style="margin-top: .5em;">
						<label for="form-desc" class="col-form-label">내용 : </label>
						<textarea class="form-control" id="form-desc" maxlength="300"></textarea>
					</div>
					<div class="form-group">
						<label for="form-endDate" class="col-form-label">마감기한 : </label> <input
							type="date" class="form-control" id="form-endDate">
					</div>
					<div>
						<label>우선 순위 : </label> <select name="priorities" id="priorities"
							style="margin-left: 7%;">
							<option th:each="priority : ${priorities}"
								th:value="${priority.priorityId}" th:text="${priority.name}"></option>
						</select>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="todo-submit"
						data-dismiss="modal">추가</button>
					<button type="button" class="btn close-button" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

	<!--수정 모달창-->
	<!--<div>-->
	<!--&lt;!&ndash; 팝업 될 레이어 &ndash;&gt;-->
	<!--<div class="modal" id="updateModal">-->
	<!--<div class="modal-content">-->
	<!--<span class="close-button" id="update-close" data-dismiss="modal">&times;</span>-->
	<!--<h4 class="modal-title">TODO 수정하기</h4>-->
	<!--<form>-->
	<!--<div class="form-group">-->
	<!--<label for="update-title" class="col-form-label">제목 : </label>-->
	<!--<input type="text" class="form-control" id="update-title" maxlength="40">-->
	<!--</div>-->
	<!--<div class="form-group" style="margin-top: .5em;">-->
	<!--<label for="update-desc" class="col-form-label">내용 : </label>-->
	<!--<textarea class="form-control" id="update-desc" maxlength="300"></textarea>-->
	<!--</div>-->
	<!--<div class="form-group">-->
	<!--<label for="update-endDate" class="col-form-label">마감기한 : </label>-->
	<!--<input type="date" class="form-control" id="update-endDate">-->
	<!--</div>-->
	<!--<div>-->
	<!--<label>우선 순위 : </label>-->
	<!--<select name="priorities" id="update-priorities" style="margin-left:7%;">-->
	<!--<option th:each="priority : ${priorities}" th:value="${priority.priorityId}"-->
	<!--th:text="${priority.name}"></option>-->
	<!--</select>-->
	<!--</div>-->
	<!--<input type="button" id="cancel" value="취소">-->
	<!--<input th:onclick="updateTask()" type="button" id="update-submit" value="수정">-->

	<!--</form>-->
	<!--</div>-->
	<!--</div>-->

	<!--</div>-->

	<!-- </div> -->
</body>
<script src="/js/default.js"></script>
</html>
